{% load static %}

<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>yourdev</title>
      <link rel="icon" href="{% static 'assets/logo_icon.png' %}">    
      <link rel="stylesheet" href="{% static 'vendor/material-components-web.min.css' %}">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">      
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
      <link rel="stylesheet" href="{% static 'vendor/custom.css' %}">
  </head>
  <body>
      
<!-- fix tablet and mobile layout -->

        <header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--waterfall mdc-toolbar--flexible mdc-toolbar--flexible-default-behavior mdc-toolbar--flexible-space-maximized">
                <div class="mdc-toolbar__row" style="height: 256px;">
                  <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                    <div class="hide-desktop"><a class="material-icons mdc-toolbar__icon--menu menu">menu</a></div>
                    <span class="mdc-toolbar__title"><a href="/" style="text-decoration: none; color: #fff;"><img class="logo-png" src="{% static 'assets/logo_main_3.png' %}" /></a></span>
                  </section>
                  <div class="hide-mobile">
                  <section class="mdc-toolbar__section  my-modified-toolbar-section">
                        <nav id="toolbar-tab-bar-modified" class="mdc-tab-bar mdc-tab-bar-upgraded">
                            <a class="mdc-tab" data-mdc-auto-init="MDCRipple" href="/Get-Started/">Get Started</a>                            
                            {% if request.get_full_path == "/Services/" %}
                            <a class="mdc-tab mdc-tab--active" data-mdc-auto-init="MDCRipple" href="/Services/">Services</a>
                            <span class="mdc-tab-bar__indicator" style="transform: translateX(160px) scale(0.333333, 1); visibility: visible;"></span>                            
                            {% else %}
                            <a class="mdc-tab" data-mdc-auto-init="MDCRipple" href="/Services/">Services</a>                            
                            {% endif %}
                            {% if request.get_full_path == "/Contact/" %}
                            <a class="mdc-tab mdc-tab--active" data-mdc-auto-init="MDCRipple" href="/Contact/">Contact</a>    
                            <span class="mdc-tab-bar__indicator" style="transform: translateX(320px) scale(0.333333, 1); visibility: visible;"></span>                                                        
                            {% else %}
                            <a class="mdc-tab" data-mdc-auto-init="MDCRipple" href="/Contact/">Contact</a>    
                            {% endif %}                            
                        </nav>
                  </section>
                  </div>
                </div>
        </header>
        <main class="mdc-toolbar-fixed-adjust">
            {% block content %}{% endblock %}
        </main>
        <aside class="mdc-temporary-drawer mdc-typography">
            <nav class="mdc-temporary-drawer__drawer">
            
                <div class="mdc-temporary-drawer__toolbar-spacer" style="background-color: #00796b; height: 4rem;"><a href="/" style="text-decoration: none; color:#fff;"><img src="{% static 'assets/logo_main_3.png' %}"></a></div>
            
                <nav id="icon-with-text-demo" class="mdc-temporary-drawer__content mdc-list">
                {% if request.get_full_path == '/' %}
                <a class="mdc-list-item mdc-temporary-drawer--selected" href="/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</i>Home
                </a>
                {% else %}
                <a class="mdc-list-item" href="/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</i>Home
                </a>
                {% endif %}
                {% if request.get_full_path == '/Get-Started/' %}
                <a class="mdc-list-item mdc-temporary-drawer--selected" href="/Get-Started/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">assignment</i>Get Started
                </a>
                {% else %}
                <a class="mdc-list-item" href="/Get-Started/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">assignment</i>Get Started
                </a>
                {% endif %}
                {% if request.get_full_path == '/Services/' %}
                <a class="mdc-list-item mdc-temporary-drawer--selected" href="/Services/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">build</i>Services
                </a>
                {% else %}
                <a class="mdc-list-item" href="/Services/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">build</i>Services
                </a>
                {% endif %}
                {% if request.get_full_path == '/Contact/' %}
                <a class="mdc-list-item mdc-temporary-drawer--selected" href="/Contact/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">email</i>Contact
                </a>
                {% else %}
                <a class="mdc-list-item" href="/Contact/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">email</i>Contact
                </a>
                {% endif %}
                </nav>
            </nav>
        </aside>

    <div class="footer mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-tablet" style="display: flex; justify-content: center;">
                <nav class="mdc-list">
                    <a href="/" class="mdc-list-item" data-mdc-auto-init="MDCRipple"><i class="mdc-list-item__start-detail material-icons hide-mobile" aria-hidden="true">home</i>Home</a>
                    <a href="/Get-Started/" class="mdc-list-item" data-mdc-auto-init="MDCRipple"><i class="mdc-list-item__start-detail material-icons hide-mobile" aria-hidden="true">link</i>Get Started</a>
                </nav>
                <nav class="mdc-list">
                    <a href="/Services/" class="mdc-list-item" data-mdc-auto-init="MDCRipple"><i class="mdc-list-item__start-detail material-icons hide-mobile" aria-hidden="true">build</i>Services</a>
                    <a href="/Contact/" class="mdc-list-item" data-mdc-auto-init="MDCRipple"><i class="mdc-list-item__start-detail material-icons hide-mobile" aria-hidden="true">email</i>Contact</a>
                </nav>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-tablet" align="center">
                <img src="{% static 'assets/yourdev_logo.png' %}">
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-tablet" style="display: flex; justify-content: center;">
                <ul class="mdc-list mdc-list--dense">
                    <span class="mdc-list-item">&copy; 2017&nbsp;<b>Yourdev Web Development</b></span>
                </ul>
            </div>
        </div>
    </div>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "address": {
              "@type": "PostalAddress",
              "addressLocality": "Kempton Park",
              "addressRegion": "Gauteng",
              "postalCode": "1618",
              "streetAddress": "31 James Wright Avenue"
            },
            "name": "Yourdev Web Developement",
            "openingHours": [
              "Mo-Fr 9:00-17:00"
            ],
            "priceRange": "R7,500.00 - 25,000.00",
            "url": "http://www.yourdev.co.za",
            "image": "http://www.yourdev.co.za/static/assets/Ad_Image.png",
            "logo": "http://www.yourdev.co.za/static/assets/yourdev_logo.png",
            "makesOffer": "Service",
            "description": "Website Hosting Company"
          }
    </script>
    <script src="{% static 'vendor/bower_components/jquery/dist/jquery.min.js' %}"></script>    
    <script src="{% static 'vendor/material-components-web.min.js' %}"></script>
    <script>window.mdc.autoInit();</script>
    <script src="{% static 'vendor/custom.js' %}"></script>
  </body>
</html>