{% load static %}

<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Greeting App</title>
      <link rel="stylesheet" href="{% static 'vendor/material-components-web.min.css' %}">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">      
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
      <link rel="stylesheet" href="{% static 'vendor/custom.css' %}">
  </head>
  <body>

        <header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--waterfall mdc-toolbar--flexible mdc-toolbar--flexible-default-behavior mdc-toolbar--flexible-space-maximized">
                <div class="mdc-toolbar__row" style="height: 256px;">
                  <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                    <div class="hide-desktop"><a class="material-icons mdc-toolbar__icon--menu menu">menu</a></div>
                    <span class="mdc-toolbar__title" style="font-size: 2.125rem;"><a href="/" style="text-decoration: none; color: #fff;">yourdev.co.za</a></span>
                  </section>
                  <div class="hide-mobile">
                  <section class="mdc-toolbar__section  my-modified-toolbar-section">
                        <nav id="toolbar-tab-bar-modified" class="mdc-tab-bar mdc-tab-bar-upgraded">
                            <a class="mdc-tab mdc-tab--active" data-mdc-auto-init="MDCRipple" href="/Get-Started/">Get Started</a>                            
                            {% if request.get_full_path == "/Services/" %}
                            <a class="mdc-tab mdc-tab--active" data-mdc-auto-init="MDCRipple" href="/Services/">Services</a>
                            <span class="mdc-tab-bar__indicator" style="transform: translateX(160px) scale(0.333333, 1); visibility: visible;"></span>                            
                            {% else %}
                            <a class="mdc-tab" data-mdc-auto-init="MDCRipple" href="/Services/">Services</a>                            
                            {% endif %}
                            {% if request.get_full_path == "/Contact/" %}
                            <a class="mdc-tab mdc-tab--active" data-mdc-auto-init="MDCRipple" href="/Contact/">Contact</a>    
                            <span class="mdc-tab-bar__indicator" style="transform: translateX(320px) scale(0.333333, 1); visibility: visible;"></span>                                                        
                            {% else %}
                            <a class="mdc-tab" data-mdc-auto-init="MDCRipple" href="/Contact/">Contact</a>    
                            {% endif %}                            
                        </nav>
                  </section>
                  </div>
                </div>
        </header>
        <main class="mdc-toolbar-fixed-adjust">
            {% block content %}{% endblock %}
        </main>
        <aside class="mdc-temporary-drawer mdc-typography">
            <nav class="mdc-temporary-drawer__drawer">
            
                <div class="mdc-temporary-drawer__toolbar-spacer" style="background-image: url('/static/assets/images/background-2551941_1280.jpg'); background-size: cover; height: 12rem;"><a href="/" style="text-decoration: none; color:#fff; font-size:25px;">yourdev.co.za</a></div>
            
                <nav id="icon-with-text-demo" class="mdc-temporary-drawer__content mdc-list">
                {% if request.get_full_path == '/Get-Started/' %}
                <a class="mdc-list-item mdc-temporary-drawer--selected" href="/Get-Started/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">assignment</i>Get Started
                </a>
                {% else %}
                <a class="mdc-list-item" href="/Get-Started/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">assignment</i>Get Started
                </a>
                {% endif %}
                {% if request.get_full_path == '/Services/' %}
                <a class="mdc-list-item mdc-temporary-drawer--selected" href="/Services/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">build</i>Services
                </a>
                {% else %}
                <a class="mdc-list-item" href="/Services/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">build</i>Services
                </a>
                {% endif %}
                {% if request.get_full_path == '/Contact/' %}
                <a class="mdc-list-item mdc-temporary-drawer--selected" href="/Contact/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">email</i>Contact
                </a>
                {% else %}
                <a class="mdc-list-item" href="/Contact/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">email</i>Contact
                </a>
                {% endif %}
                </nav>
            </nav>
        </aside>



    <script src="{% static 'vendor/bower_components/jquery/dist/jquery.min.js' %}"></script>    
    <script src="{% static 'vendor/material-components-web.min.js' %}"></script>
    <script>window.mdc.autoInit();</script>
    <script src="{% static 'vendor/custom.js' %}"></script>
  </body>
</html>