{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 jumbotron back-cover" style="background-image: url('/static/assets/images/telephone-586268_1920.jpg');">
            <div class="text-card">
                <h1>Contact Us</h1>
                <h2>We're more than happy to answer any questions you have about Yourdev.</h2>
                <h4>And how to get your company on the web with us.</h4>
            </div>
        </div>
    </div>
</div>   

<form action="" name="contact" method="POST">
{% csrf_token %}
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <div class="mdc-card" style="padding:15px;">
                <div class="mdc-textfield-name mdc-textfield--box">
                    <input type="text" name="client_name" maxlength="100" id="my-textfield-name" class="mdc-textfield__input" aria-controls="username-helptext" required>
                    <label class="mdc-textfield__label" for="my-textfield-name">Your name</label>
                </div>
                <p id="username-helptext" class="mdc-textfield-helptext" aria-hidden="true">
                    Preferably your full name
                </p>
                <div class="mdc-textfield-email mdc-textfield--box">
                    <input type="email" name="client_email" maxlength="255" id="my-textfield-two" class="mdc-textfield__input" aria-controls="email-validation-msg" required>
                    <label class="mdc-textfield__label" for="my-textfield-email">Your email address</label>
                </div>
                <p class="mdc-textfield-helptext mdc-textfield-helptext--validation-msg" id="email-validation-msg">
                Please enter a valid email address
                </p>
                <div class="mdc-textfield-query mdc-textfield--multiline">
                    <textarea maxlength=1001 name="client_query" id="multi-line" class="mdc-textfield__input" rows="8" requried></textarea>
                    <label for="multi-line" class="mdc-textfield__label">Your Query</label>
                </div>
                <hr>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-6">
                    <button type="submit" class="mdc-button mdc-button--accent mdc-button--raised mdc-card__action send-query">Send Query</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>


{% endblock %}
