{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <div class="mdc-card mdc-card--theme-dark get-started-card get-started-card--bg-get-started" style="background-image: url('/static/assets/images/agreement-2286439_1920.jpg');">
                    <section class="mdc-card__media">
                        <h1 class="mdc-card__title mdc-card__title--large mdc-theme--text-primary-on-primary">Our Services</h1>
                        <h2 class="mdc-card__subtitle">We are here to help you every step of the way.</h2>
                        <h2 class="mdc-card__subtitle">Get on the web with yourdev.</h2>
                    </section>
                </div>
            </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-tablet my-card-container">
            <div class="mdc-card mdc-card-container">
                <section class="mdc-card__media mdc-theme--accent-bg">
                    <h1 class="mdc-card__title mdc-card__title--large mdc-theme--text-primary-on-primary">Websites</h1>
                </section>
                <section class="mdc-card__supporting-text">
                    <p>Yourdev will host, maintain and update your website.</p>
                    <p>We also implement simple self maintanence through an administration login.</p>
                    <p>A customized layout that can be easily updated</p>
                </section>
            </div>
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-tablet my-card-container">
            <div class="mdc-card mdc-card-container">
                <section class="mdc-card__media mdc-theme--accent-bg">
                    <h1 class="mdc-card__title mdc-card__title--large mdc-theme--text-primary-on-primary">Domain Registration</h1>
                </section>
                <section class="mdc-card__supporting-text">
                    <p>We will help you through the process of registering your domain for your website and emails.</p>
                    <p>It is far more professional to use your company name for your websites domain and emails.</p>
                    <p>example : info@yourdev.co.za, www.yourdev.co.za</p>
                </section>
            </div>
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-12-tablet my-card-container">
            <div class="mdc-card mdc-card-container">
                <section class="mdc-card__media mdc-theme--accent-bg">
                    <h1 class="mdc-card__title mdc-card__title--large mdc-theme--text-primary-on-primary">Marketing</h1>
                </section>
                <section class="mdc-card__supporting-text">
                    <p>Your website plays a big part communicating to clients online efficiently with no delay and quick response.</p>
                    <p>We break the communication barrier between client and company to get all the information they need from your company and their information to you.</p>
                    
                </section>
            </div>
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-2-tablet">
            <div align="center">
                <img src="{% static 'assets/icons/ic_touch_app_black_48dp_2x.png' %}">
            </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-6-tablet">
            <p>
                Get a website that actually does something. Features for your bussines and your clients to communicate with.
            </p>
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-2-tablet">
            <div align="center">
                <img src="{% static 'assets/icons/ic_shopping_cart_black_48dp_2x.png' %}">
            </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-6-tablet">
            <p>Need a gateway to sell your products. We will provide you with a web application that can sell!</p>
        </div>
        
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-2-tablet">
            <div align="center">
                <img src="{% static 'assets/icons/ic_update_black_48dp_2x.png' %}">
            </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-6-tablet">
            <p>Need an upgrade? If you have an old webiste that is outdated and missing todays standards we will upgrade it for you.</p>
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-2-tablet">
            <div align="center">
                <img src="{% static 'assets/icons/ic_person_pin_black_48dp_2x.png' %}" align="center">
            </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-6-tablet">
            <p>Communication is key. Why not have a personal connection with the developer? With Yourdev that's the only way we know how.</p>
        </div>

    </div>
</div>

{% endblock %}